<h1> Monitored Processes </h1>

<table cellspacing="0" class="table table-hover table-striped list-table">
  <thead>
    <th>Process ID</th>
    <th>Command</th>
  </thead>
  <tbody>
    <% @procs.each do |p| %>
      <tr url="<%= url_for system_process_path(p) %>">
        
        <td><%= p.id %></td>
        <td><%= p.command %></td>
      </tr>
    <% end %>
  </tbody>
</table>
