<h1> System Processes </h1>

<table cellspacing="0" class="table table-striped table-hover list-table" id="process-list">
  <thead>
    <th>Process ID</th>
    <th>Monitored</th>
    <th>Command</th>
  </thead>
  <tbody>
    <% @procs.each do |p| %>
      <tr url='<%= url_for new_system_process_path(p)%>'>
        
        <td><%= link_to p[:pid], new_system_process_path(p)%></td>
        <td>
          <% if p[:exists] %>
            <%= link_to 'Monitor', system_process_path(p[:pid])%>
          <% end %>
        </td>
        <td><%= p[:comm] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
